@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
html, body {
	background-color: #FBFBFB;
	font-family: 'EB Garamond', serif;
}
@media screen and (min-width: 1500px) {
	nav[role="navigation"] {
		display: none;
	}
	header {
		height: 120px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	header > a {
		margin-left: 50px;
		font-size: 22px;
		color: black;
		text-decoration: none;
	}
	header > nav > ul {
		display: flex;
	}
	header > nav > ul > li > a {
		margin-right: 50px;
		font-size: 20px;
		color: black;
		text-decoration: none;
		letter-spacing: 2px;
		transition: color .4s ease;
	}
	header > nav > ul > li > a:hover {
		color: #D16768;
	}
	h1 {
		font-size: 5rem;
		text-align: center;
		margin: 50px auto;
	}
	.container {
		width: 70%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	.container > article {
		width: 30%;
		margin: 20px;
		position: relative;
	}
	.container > article .fon {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: 0;
		transition: opacity .3s ease;
	}
	.container > article .fon:hover {
		opacity: .3;
	}
	.container > article img {
		width: 100%;
	}
	.pagination {
		margin: 50px;
	}
	.pagination > nav > ul {
		display: flex;
		justify-content: center;
	}
	.pagination > nav > ul a {
		padding: 10px 20px;
		background-color: black;
		color: white;
		text-decoration: none;
		margin: 2px;
		font-size: 2rem;
		transition: .3s opacity ease;
	}
	.pagination > nav > ul a:hover {
		opacity: .8;
	}
	.pagination > nav > ul a.active {
		background-color: #D16768;
	}
	footer {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		line-height: 1.5;
		font-size: 18px;
	}
	footer > section {
		display: flex;
		justify-content: space-between;
	}
	footer > section > article > a {
		margin: 10px;
		font-size: 25px;
		color: black;
		transition: color .4s ease;
	}
	footer > section > article > a:hover {
		color: #333333;
	}
}
@media screen and (min-width: 1220px) and (max-width: 1499px) {
	nav[role="navigation"] {
		display: none;
	}
	header {
		height: 120px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	header > a {
		margin-left: 50px;
		font-size: 22px;
		color: black;
		text-decoration: none;
	}
	header > nav > ul {
		display: flex;
	}
	header > nav > ul > li > a {
		margin-right: 50px;
		font-size: 20px;
		color: black;
		text-decoration: none;
		letter-spacing: 2px;
		transition: color .4s ease;
	}
	header > nav > ul > li > a:hover {
		color: #D16768;
	}
	footer {
		margin-top: 150px;
		display: flex;
		flex-direction: column;
		align-items: center;
		line-height: 1.5;
		font-size: 18px;
	}
	footer > section {
		display: flex;
		justify-content: space-between;
	}
	footer > section > article > a {
		margin: 10px;
		font-size: 25px;
		color: black;
		transition: color .4s ease;
	}
	footer > section > article > a:hover {
		color: #333333;
	}
}
@media screen and (min-width: 960px) and (max-width: 1249px) {
	nav[role="navigation"] {
		display: none;
	}
	header {
		height: 150px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	header > a {
		margin-left: 50px;
		font-size: 60px;
		color: black;
		text-decoration: none;
	}
	header > nav > ul {
		width: 80vw;
		display: flex;
		justify-content: space-between;
	}
	header > nav > ul > li > a {
		margin-right: 50px;
		font-size: 30px;
		color: black;
		text-decoration: none;
		letter-spacing: 2px;
		transition: color .4s ease;
	}
	header > nav > ul > li > a:hover {
		color: #D16768;
	}
	footer {
		margin-top: 150px;
		display: flex;
		flex-direction: column;
		align-items: center;
		line-height: 1.5;
		font-size: 24px;
	}
	footer > section {
		display: flex;
		justify-content: space-between;
	}
	footer > section > article > a {
		margin: 10px;
		font-size: 36px;
		color: black;
		transition: color .4s ease;
	}
	footer > section > article > a:hover {
		color: #333333;
	}
}
@media screen and (min-width: 480px) and (max-width: 959px) {
	.main-nav {
		display: none;
	}
	header > a:first-child {
		display: none;
	}
	nav[role="navigation"] > a {
		position: absolute;
		font-size: 36px;
		top: 50px;
		left: 40px;
		text-decoration: none;
		color: black;
	}
	#menuToggle {
        display: block;
        position: relative;
		top: 50px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle input {
          display: block;
          width: 40px;
		  height: 32px;
		  margin-left: 80vw;
          position: absolute;
          top: -7px;
          left: -5px;
          cursor: pointer;
          opacity: 0; 
          z-index: 2; 
          -webkit-touch-callout: none;
    }
    #menuToggle span {
		display: block;
		margin-left: 80vw;
		margin-bottom: 5px;
		width: 33px;
		height: 4px;
		position: relative;
		background: #cdcdcd;
		border-radius: 3px;
		z-index: 1;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    #menuToggle span:first-child {
      transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
    #menuToggle input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #cdcdcd;;
    }
    #menuToggle input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menuToggle input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }
    #menu {
		position: absolute;
		width: 100%;;
		margin: -100px 0 0 -52px;
		height: 85vh;
		padding: 50px;
		padding-bottom: 0;
		padding-top: 125px;
		padding-right: 0;
		background: white;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;
		transform-origin: 0% 0%;
		transform: translate(0%, -100%);
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
		text-align: center;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
    }
     #menu a {
      text-decoration: none;
      color: black;
      font-size: 26px;
      font-weight: bold;
      transition: color 0.3s ease;
    }
    #menu li {
      margin: 30px 0;
      font-size: 3rem;
    }
    #menuToggle input:checked ~ ul {
	  transform: none;
	}
	footer {
		margin-top: 150px;
		display: flex;
		flex-direction: column;
		align-items: center;
		line-height: 1.5;
		font-size: 24px;
	}
	footer > section {
		display: flex;
		justify-content: space-between;
	}
	footer > section > article > a {
		margin: 10px;
		font-size: 36px;
		color: black;
		transition: color .4s ease;
	}
	footer > section > article > a:hover {
		color: #333333;
	}
}
@media screen and (max-width: 479px) {
	.main-nav {
		display: none;
	}
	header > a:first-child {
		display: none;
	}
	nav[role="navigation"] > a {
		position: absolute;
		font-size: 36px;
		top: 50px;
		left: 40px;
		text-decoration: none;
		color: black;
	}
	#menuToggle {
        display: block;
        position: relative;
		top: 50px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle input {
          display: block;
          width: 40px;
		  height: 32px;
		  margin-left: 75vw;
          position: absolute;
          top: -7px;
          left: -5px;
          cursor: pointer;
          opacity: 0; 
          z-index: 2; 
          -webkit-touch-callout: none;
    }
    #menuToggle span {
		display: block;
		margin-left: 75vw;
		margin-bottom: 5px;
		width: 33px;
		height: 4px;
		position: relative;
		background: #cdcdcd;
		border-radius: 3px;
		z-index: 1;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    #menuToggle span:first-child {
      transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
    #menuToggle input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #cdcdcd;;
    }
    #menuToggle input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menuToggle input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }
    #menu {
      position: absolute;
	  width: 100%;
	  height: 85vh;
      margin: -100px 0 0 -52px;
      padding: 50px;
      padding-top: 125px;
      padding-right: 0;
      background: white;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transform: translate(0%, -100%);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
    }
     #menu a {
      text-decoration: none;
      color: black;
      font-size: 26px;
      font-weight: bold;
      transition: color 0.3s ease;
    }
    #menu li {
      margin: 30px 0;
      font-size: 3rem;
    }
    #menuToggle input:checked ~ ul {
      transform: none;
	}
	footer {
		margin: 50px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		line-height: 1.5;
		font-size: 24px;
	}
	footer > section {
		display: flex;
		justify-content: space-between;
	}
	footer > section > article > a {
		margin: 10px;
		font-size: 36px;
		color: black;
		transition: color .4s ease;
	}
	footer > section > article > a:hover {
		color: #333333;
	}
}